<!doctype html>
<html>
  <head>
    <title>irplan</title>
    <link rel=stylesheet type=text/css
      href=//cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css>
    <link rel=stylesheet type=text/css href=style.css>
    <script type=text/javascript
      src=//cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js></script>
  </head>
  <body>
    <header>
      <h1>irplan</h1>
    </header>
    <article>
      <%= yield %>
    </article>
  </body>
</html>
